<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>GAP</title>
    <link rel="stylesheet" href="stylesheet/index.css">
</head>
<body>
	<div id="title">
	    <h1>GAP</h1>
	</div>
    <script>
      var title = document.getElementById("title");
	  var countup = function(){
	    title.innerHTML = "<h1>ようこそ</h1>";
	  } 
	  setTimeout(countup, 2000);
	</script>
</body>
</html>