<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>GAP</title>
    <link rel="stylesheet" href="stylesheet/sex_select.css">
</head>
<body>
	<div class="buttons">
		<div class="sex">
		    <a href="user_select?sex=man">MAN</a>
			<a href="user_select?sex=woman">LADY</a>
		</div>
		<div class="about">
			<a href="about">ABOUT</a>
		</div>
	</div>
	<script type="text/javascript">

	</script>
</body>
</html>