<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>GAP</title>
    <link rel="stylesheet" href="../../stylesheet/user.css">
</head>
<body>
	<div class="user">
	</div>
	<div class="main">
		<div class="box-vertical">
			
		</div>
	</div>
	<div class="vote">
		<form action="../../record" method="post">
			<input type="hidden" name="sex" value="<%= sex %>">
  			<input type="hidden" name="name" value="<%= name %>">
		  	<button type='submit'>投票する</button>
		</form>
	</div>
</body>
</html>